<tr>
  <td><%= card.title %></td>
  <td><%= card.created_on_pipefy_at %></td>
  <td><%= card.due_at %></td>
  <% card.phase.field_names.each do |field| %>
    <td><%= field_value(card, field) %></td>
  <% end %>
</tr>
