<div>
  <%= button_to 'Fetch new data', import_organizations_path, method: :get, class: 'btn btn-dark float-right' %>

  <% if @organizations.any? %>
    <%= render partial: 'organizations/organization', collection: @organizations %>
  <% else %>
    <p>Click on Fetch new data to get organization cards</p>
  <% end %>
</div>
